nav {
background: #FD8B51;
color:#fff;
padding: 10px;
}
nav a {
color: #fff;
text-decoration: none;
padding:10px 20px;
}
nav .active,
nav a:hover {
background: #FD8B51;  
}
/* ID Selector */
#intro {
  background: #001F3F;
  border: 1px solid #FD8B51;
  min-height: 100px;
  padding: 10px;
  }
  #intro h1 {
  text-align: left;
  border: 0;
  color: #fff;
  }
  /* Class Selector */
  .button {
  padding: 15px 20px;
  background: #bebcbd;
  color: #fff;
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  }
  .btn-primary {
  background: #E42A42;
  }
